* {
    box-sizing: border-box;
}
.container {
    background: #FFF;
    margin: 0 auto;
    width: 1440px;
    height: 3155px;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
header {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
}
.logo img {
    width: 63px;
    height: 60px;
    flex-shrink: 0;
}
.logo h3 {
    width: 161px;
    height: 34px;
    flex-shrink: 0;
    color: #091156;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin: auto 50px;
}
nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
nav li {
    display: inline-flex;
}
nav li a {
    color: #8B8B8B;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    margin: auto 30px;
}
.firstButton{
    color: #414880;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    margin: auto 30px;
}
.lastButton {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FF64AE;
    padding: 10px 30px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentL h3 {
    color: #FF64AE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.contentL h1 {
    width: 615px;
    height: 104px;
    flex-shrink: 0; 
    color: #091156;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.contentR p {
    width: 407px;
    height: 72px;
    flex-shrink: 0; 
    color: #8B8B8B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px; 
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.name i {
    color: #C5C5C5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px; 
}
.formB {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    border-radius: 50px;
    background: #FF64AE;
    box-shadow: 0px 17px 22px 0px #FFEDF6;
    width: 248px;
    height: 58px;
    flex-shrink: 0;
    padding: 10px 30px;
}